.comment-form {
  display: flex;
  width: 100%;
  justify-content: stretch;
  align-items: flex-end;
  flex-grow: 1;
  /* border-top: 1px solid rgb(173, 173, 173); */
}

.input-stretch {
  flex-grow: 1;
  border: 0.3px #cad0dd;
  border-radius: 3px;
  border-style: solid;
  height: 30px;
  outline: 0;
  box-shadow: 6px 6px 10px #cad0dd, -6px -6px 12px rgb(248, 248, 248);
  transition-duration: 0.7s;
  /* border-radius: 10px; */
}

.input-stretch:focus-within {
  outline: none;
  /* border:2px; */
  border-color: rgb(18, 176, 238);
  /* outline: blue; */
}

.stretch-btn {
  height: 33px;
  background-image: url('../images/Arrow\ -\ Right\ Square.svg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: 30px;
  /* height: 52px; */
  width: 30px;
  /* margin-left: 10px; */
  background-color: #dfe5ec;
  border-radius: 5px;
  box-shadow: 5px 5px 12px #aab4c8, -5px -5px 12px rgb(247, 247, 247);
}

.stretch-btn:hover {
  box-shadow: inset 2px 2px 5px #b8b9be, inset -3px -3px 7px #fff;
  background-color: #dfe5ec
}
