/* body {
  background-color: teal;
  margin: 0;
} */
.background-img {
  /* background-image: url("../images/beach-bg.jpg"); */
  background-size: 100%;
  background-repeat: no-repeat;
  height: 100vh;
}

.container {
  padding-top: 20%;
  padding-left: 5%;
}

.nav-search {
  width: 40rem;
  height: 4.5rem;
  font-size: 40px;
  box-shadow: 6px 6px 10px #aab4c8, -6px -6px 12px #fff;
  outline: 0;
  border:0;
}
.nav-search:focus {
  outline: none;
}

.search-container {
  display: flex;
  flex-direction: column;
  font-size: 50px;
  font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto,
    Helvetica Neue, sans-serif;
}

.venue-info {
  background-color: white;
  width: 500px;
  height: 500px;
}
