.login-form {
  display: flex;
  position: sticky;
  left: 14.6%;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  width: 300px;
  height: 350px;
  margin-right: 10px;
  border-radius: 15px;
  padding: 10px;
  background: linear-gradient(145deg, #ecf0f5, #dfe5ec);
  box-shadow: 6px 6px 10px #cad0dd
}

.logout-button {
  background-image: url('../images/Logout.svg');
  background-repeat: no-repeat;
  background-position: center;
  height: 50px;
  width: 50px;
  background-color: #dfe5ec;
  border-radius: 15px;
}

.logout-button:hover {
  cursor: pointer;
}

.container-lo {
  display: flex;
  align-items: center;
  padding-top: 10%;
  padding-left: 5%;
  width: 50%;
}

.email-input-lo, .password-input-lo {
  font-size: 15px;
  height: 30px;
  width: 200px;
  box-shadow: 2px 2px 10px #cad0dd, -2px -2px 10px rgb(248, 248, 248);
  outline: 0;
  border: 0;
  border-radius: 5px;
  background-clip: text;
}

.email-input-lo:focus, .password-input-lo:focus {
  outline: none;
  box-shadow: inset 2px 2px 5px #aab4c8, inset -2px -2px 5px #fff;
}

.login-please {
  display: flex;
  justify-content: space-around;
  width: 14rem;
  border-radius: 6px;
  padding: 5px;
  font-size: 30px;
  background-color: #F9726D;
  color: transparent;
  text-shadow: 2px 2px 3px rgba(243, 243, 243, 0.5);
  background-clip: text;
}

.login-btn {
  font-family: 'Georama', sans-serif;
  font-size: 20px;
  color: #ffffff;
  width: 13rem;
  height: 40px;
  background-color: #F9726D;
  border-radius: 15px;
  box-shadow: 1px 1px 3px #F9726D, -6px -6px 12px rgb(248, 248, 248);
}

.login-btn:hover {
  box-shadow: inset 2px 2px 5px #ce5d59, inset -3px -3px 7px #ff9e9b;
  cursor: pointer;
}

.landing-right-lo {
  display: flex;
  width: 50%;
  align-content: center;
  align-items: flex-start;
  margin-left: 5%;
  margin-right: 0%;
  margin-top: 75px;
  left: 0px;
  border: 0;
  background-size: cover;
  background: rgb(249, 114, 109);
  background: linear-gradient(214deg, #CB409C 0%, #F9726D 100%);
}

.login-message {
  padding-top: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: 'Georama', sans-serif;
  font-size: 80px;
  width: 100%;
  color: #fff;
  /* padding: 10px; */
}

.small-text-login {
  align-items: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
  margin-top: 40px;
  font-size: 30px;
}

.small-text-login a {
  text-decoration: none;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  margin-top: 20px;
  font-family: 'Georama', sans-serif;
  font-size: 20px;
  color: #F9726D;
  width: 10rem;
  height: 40px;
  background-color: #fff;
  border-radius: 15px;
}
