.feed-form {
  width: 500px;
  height: 50px;
  font-size: 18px;
}

.feed-item {
  width: 100%;
  color: rgb(65, 64, 64);
  background-color: rgb(247, 247, 247);
  flex-direction:column;
  display: flex;
  height: 200px;
  border-radius: 5px;
  justify-content: space-between;
  margin-top: 12px;
  margin-bottom: 12px;
  align-items: flex-start;
  border: 1px solid rgb(247, 247, 247);
  box-shadow: 2px 2px 5px #aab4c8, -2px -2px 5px rgb(247, 247, 247);
}

.feed-container {
  display: flex;
  justify-content: center;
}

.feed-qs {
  /* border: 3px solid #ccc; */
  /* margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  */
  width: 500px;
  height: 300px;
}

.feed-holder {
  display: flex;
  /* flex-direction: column-reverse; */
  width: 100%;
  margin-top: 30px;
  align-items: flex-start;
  justify-content: center;
  height: 400px;
  overflow-y: scroll;
  box-shadow: inset 2px 2px 5px #aab4c8, inset -2px -2px 5px #fff;
  border-radius: 8px;
}

.big-container {
  display: flex;
  justify-content: center;
}

.left-side,
.right-side {
  width: 87%;
}

.feed-text {
  margin-top: 20px;
  margin-left: 2rem;
  margin-right: 2rem;
  justify-content: space-between;
  width: 90%;

  display: flex;
  margin: 15px;
  align-items: flex-start;
}


.comment-holder {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: stretch;
  /* flex-grow: 1; */
}

/* .post-container{
flex:1
} */

