.feed-form {
  width: 500px;
  height: 50px;
  font-size: 18px;
}

.feed-item {
  display: flex;
  height: 100px;
  justify-content: space-between;
  margin-top: 12px;
  margin-bottom: 12px;
  align-items: center;
  box-shadow: 2px 2px 5px #aab4c8, -2px -2px 5px #fff;
}

.feed-container {
  display: flex;
  justify-content: center;
}

.feed-qs {
  /* border: 3px solid #ccc; */
  /* margin-top: 50px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  */
  width: 500px;
  height: 300px;
}

.feed-holder {
  display: flex;
  width: 100%;
  margin-top: 30px;
  align-items: flex-start;
  justify-content: center;
  height: 400px;
  overflow-y: scroll;
  box-shadow: inset 2px 2px 5px #aab4c8, inset -2px -2px 5px #fff;
  border-radius: 8px;
}

.big-container {
  display: flex;
  justify-content: center;
}

.left-side,
.right-side {
  width: 87%;
}
